/* For use with https://github.com/lassekongo83/adw-gtk3 */
/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color #b4637a;
@define-color destructive_fg_color #faf4ed;
@define-color success_bg_color #56949f;
@define-color success_fg_color #575279;
@define-color warning_bg_color #ea9d34;
@define-color warning_fg_color #575279;
@define-color error_bg_color #b4637a;
@define-color error_fg_color #575279;
@define-color accent_color #907aa9;
@define-color destructive_color #b4637a;
@define-color success_color #56949f;
@define-color warning_color #ea9d34;
@define-color error_color #b4637a;
@define-color window_bg_color #faf4ed;
@define-color window_fg_color #575279;
@define-color view_bg_color #f2e9e1;
@define-color view_fg_color #575279;
@define-color headerbar_bg_color #faf4ed;
@define-color headerbar_fg_color #575279;
@define-color headerbar_border_color #56949f;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color #faf4ed;
@define-color headerbar_darker_shade_color RGB(0 0 0/12%);
@define-color sidebar_bg_color #f2e9e1;
@define-color sidebar_fg_color #575279;
@define-color sidebar_backdrop_color #f2e9e1;
@define-color sidebar_shade_color RGB(0 0 0/7%);
@define-color sidebar_border_color #56949f;
@define-color secondary_sidebar_bg_color #f2e9e1;
@define-color secondary_sidebar_fg_color #575279;
@define-color secondary_sidebar_backdrop_color #f2e9e1;
@define-color secondary_sidebar_shade_color RGB(0 0 0/7%);
@define-color secondary_sidebar_border_color #56949f;
@define-color card_bg_color #fffaf3;
@define-color card_fg_color #575279;
@define-color card_shade_color RGB(0 0 0/7%);
@define-color dialog_bg_color #faf4ed;
@define-color dialog_fg_color #575279;
@define-color popover_bg_color #f2e9e1;
@define-color popover_fg_color #575279;
@define-color popover_shade_color RGB(0 0 0/7%);
@define-color thumbnail_bg_color #faf4ed;
@define-color thumbnail_fg_color #575279;
@define-color shade_color RGB(0 0 0/7%);
@define-color scrollbar_outline_color #faf4ed;

:root {
  --accent-color: @accent_color;
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --destructive-bg-color: @destructive_bg_color;
  --destructive-fg-color: @destructive_fg_color;
  --success-bg-color: @success_bg_color;
  --success-fg-color: @success_fg_color;
  --warning-bg-color: @warning_bg_color;
  --warning-fg-color: @warning_fg_color;
  --error-bg-color: @error_bg_color;
  --error-fg-color: @error_fg_color;
  --destructive-color: @destructive_color;
  --success-color: @success_color;
  --warning-color: @warning_color;
  --error-color: @error_color;
  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;
  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-shade-color: @headerbar_shade_color;
  --headerbar-darker-shade-color: @headerbar_darker_shade_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --sidebar-border-color: @sidebar_border_color;
  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;
  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;
  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;
  --thumbnail-bg-color: @thumbnail_bg_color;
  --thumbnail-fg-color: @thumbnail_fg_color;
  --shade-color: @shade_color;
  --scrollbar-outline-color: @scrollbar_outline_color;
  --active-toggle-bg-color: @active_toggle_bg_color;
  --active-toggle-fg-color: @active_toggle_fg_color;
  --overview-bg-color: @overview_bg_color;
  --overview-fg-color: @overview_fg_color;
  --incognito-bg-color: @incognito_bg_color;
  --new-title-bg-color: @new_title_bg_color;
}
