// Set keybinds.

binds {
  // Shows a list of important hotkeys.
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Binds for running terminal and application launcher.
  Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
  Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

  // Open/Close overview.
  Mod+O repeat=false { toggle-overview; }

  // Close window.
  Mod+C repeat=false { close-window; }

  // Movement binds.
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }
  Mod+Home  { focus-column-first; }
  Mod+End   { focus-column-last; }

  // Move focused window column.
  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down; }
  Mod+Ctrl+Up    { move-window-up; }
  Mod+Ctrl+Right { move-column-right; }
  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }
  Mod+Ctrl+Home  { move-column-to-first; }
  Mod+Ctrl+End   { move-column-to-last; }

  // Movement with scroll wheel. 
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }

  // Move focused window column with scroll wheel.
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  // Change focused workspace.
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }

  // Move focused column to a different workspace.
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  // Change focused workspace with scroll wheel.
  Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

  // Move focused column to a different workspace with scroll wheel.
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  // Move focused window in and out of a column.
  // If window is alone, it will be consumed into the nearby column to the side.
  // If the window is already in a column, it will be expeled out.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }

  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  // Cycle through focused column width and window height presets.
  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R  { reset-window-height; }

  // Change column size to the maximum height and width.
  Mod+F { maximize-column; }
  Mod+M { maximize-window-to-edges; }

  // Full-screen the focused window.
  Mod+Shift+F { fullscreen-window; }

  // Expand focused column to space not taken up by other visible columns.
  Mod+Ctrl+F { expand-column-to-available-width; }

  // Center focused column.
  Mod+Q      { center-column; }
  // Center all visble columns on the screen.
  Mod+Ctrl+C { center-visible-columns; }

  // Finer width and height adjustments. 
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move focused window between floating and tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  // Toggle tabbed column.
  // Windows in the column will appear as vertical tabs.
  Mod+W { toggle-column-tabbed-display; }

  // Screenshot binds.
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // Quit the session. 
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  // Power off the monitors.
  Mod+Shift+P { power-off-monitors; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
