
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, GoMono Nerd Font;
    font-size: 15px;
}
/* Define Colours */ 
@define-color background  #faf4ed;
@define-color foreground  #575279;
@define-color border #286983;
@define-color black #f2e9e1;
@define-color red #b4637a;
@define-color green #286983;
@define-color yellow #ea9d34; 
@define-color blue #56949f;
@define-color magenta #907aa9;
@define-color cyan #d7827e;
@define-color white #575279;
@define-color selection #dfdad9;

window#waybar {
    background-color: alpha(@background, 0.99);
    border-top: 0px solid @border;
    border-bottom: 0px solid @border;
    border-left: 0px solid @border;
    border-right: 0px solid @border;
    border-radius: 0px;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces {
background: transparent;
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
    padding: 0 2px;
    border-radius: 8px;
    margin: 4px 2px 4px 0;
    color: @foreground;
    min-height: 0;
    min-width: 30px;
    font-weight: normal;
}

#workspaces button:hover {
    background: @selection;
    color: @yellow;
}

#workspaces button.focused {
    background-color: @selection;
    color: @cyan;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
    background-color: transparent;
    border-radius: 12px;
    
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    color: @foreground;
    border-radius: 12px; 
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: @foreground;
    border-radius: 12px;
}

#memory {
    background-color: transparent;
    border-radius: 12px;
    color: @foreground;
}

#disk {
    background-color: transparent;
    color: @foreground;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: transparent;
    border-radius: 12px;
    color: @foreground;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: transparent;
    color: @foreground;
    border-radius: 12px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
    border-radius: 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @blue;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
